.profile-image {
  margin: auto;
}

a:hover {
    text-decoration: none;
}
.profile-form {
    padding: 10px 24px 10px;
}
.btn-profile-submit {
    padding: 10px 0px 10px;
}
.loading {
    margin: auto;
    left: 46%;
}
